@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.qrcode {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    border-radius: 5%;
    text-align: center;
    width: 20%;
    padding: 10px;
}

.imagem-qrcode {
    width: 100%;
    border-radius: 5%;
}

.card h1 {
    color: hsl(218, 44%, 22%);
    font-size: 20px;
}

.card p {
    font-size: 14px;
    color: hsl(220, 15%, 55%);
}

.texto {
    margin: 14px;
}

@media (max-width: 375px) {
    .card {
        width: 80%;
        padding: 15px;
    }

    .card h1 {
        font-size: 22px;
    }

    .card p {
        font-size: 16px;
    }
  }